{
	"arguments": [
		{
			"robots": {
				"prefix": "-n",
				"train_min": 1,
				"train_max": 2,
				"val_min": 1,
				"val_max": 2,
				"test_min": 1,
				"test_max": 2
			}
		}, 
		{
			"rooms": {
				"prefix": "-r",
				"train_min": 3,
				"train_max": 8,
				"val_min": 3,
				"val_max": 8,
				"test_min": 3,
				"test_max": 8
			}
		}, 
		{
			"balls": {
				"prefix": "-o",
				"train_min": 4,
				"train_max": 10,
				"val_min": 4,
				"val_max": 10,
				"test_min": 4,
				"test_max": 10
			}
		},
		{
			"seed": {
				"prefix": "-s",
				"train_min": 1,
				"train_max": 10000,
				"val_min": 1,
				"val_max": 10000,
				"test_min": 1,
				"test_max": 10000
			}
		}
	]
}
