{
	"arguments": [
		{
			"couples": {
				"train_min": 1,
				"train_max": 3,
				"val_min": 1,
				"val_max": 3,
				"test_min": 1,
				"test_max": 3
			}
		}, 
		{
			"cars": {
				"train_min": 2,
				"train_max": 4,
				"val_min": 2,
				"val_max": 4,
				"test_min": 2,
				"test_max": 4
			}
		}, 
		{
			"places": {
				"train_min": 3,
				"train_max": 6,
				"val_min": 3,
				"val_max": 6,
				"test_min": 3,
				"test_max": 6
			}
		},
		{
			"seed": {
				"train_min": 1,
				"train_max": 10000,
				"val_min": 1,
				"val_max": 10000,
				"test_min": 1,
				"test_max": 10000
			}
		}
	]
}
